:root {
    --std: all .2s ease-in-out;
}
body {
    height: 100vh;
}
img {
    width: 10rem;
    height: 10rem;
    padding: 5px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#play {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
#user-choice,
#computer-choice,
#results {
    padding: 15px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
}
#hands {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#hands > img {
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
}
#hands > img:hover {
    border: 2px solid black;
    transition: var(--std);
    cursor: pointer;
}
.select {
    border: 2px solid black;
    background-color: lightgray;
    transition: var(--std);
}
#stats {
    display: flex;
    justify-content: space-evenly;
}
.hide {
    display: none;
}