:root {
    --std: all .2s ease-in-out;
    --background-dark: #344055;
    --background-light: #CDE5D7;
    --box-background-dark: #888098;
    --box-background-light: #DED6D1;
    --text-color-dark: #EDF4ED;
    --text-color-light: #444444;
}
body {
    height: 100vh;
    transition: var(--std);
}
.body-dark {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
}
.body-light {
    background-color: var(--background-light);
    color: var(--text-color-light);
}
img {
    width: 10rem;
    height: 10rem;
    padding: 5px;
}
button {
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--std);
    box-shadow: 0 1px 8px rgba(0,0,0,.5);
}
.button-dark {
    background-color: var(--background-dark);
}
.button-light {
    background-color: var(--background-light);
}
button:hover {
    cursor: pointer;
    box-shadow: 0 3px 24px rgba(0,0,0,.25);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#dark-mode-switch {
    position: absolute;
    right: 25px;
}
.material-symbols-outlined {
    font-size: 32px;
    cursor: pointer;
    transition: var(--std);
    clip-path: circle();
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#play {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
#user-choice,
#computer-choice,
#results {
    padding: 15px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 400px;
}
.box-dark {
    background-color: var(--box-background-dark);
    border: 2px solid black;
}
.box-light {
    background-color: var(--box-background-light);
    border: 2px solid black;
}
#results {
    width: 860px;
}
@media only screen and (max-width: 868px) {
    #play {
        flex-direction: column;
    }
    #user-choice,
    #computer-choice,
    #results {
        margin: 10px;
    }
    #results {
        width: 400px;
    }
}
#hands {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#hands > img {
    padding: 8px;
    margin: 10px;
    border-color: black;
    border-radius: 5px;
}
#hands > img:hover {
    border: 2px solid black;
    transition: var(--std);
    cursor: pointer;
}
.select {
    border: 2px solid black;
    background-color: lightgray;
    transition: var(--std);
}
#stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#stats > div {
    display: flex;
    flex-direction: column;
}
.numbers,
.labels {
    margin: auto;
}
#results-text {
    font-size: 2rem;
}
.numbers {
    font-size: 2.8rem;
}
#reset {
    margin-top: 3rem;
}
.hide {
    display: none;
}