body {
    height: 100vh;
}
img {
    width: 10rem;
    height: 10rem;
    padding: 5px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#user-choice {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
#hands {
    width: 100%;
    display: flex;
    justify-content: center;
}